@import "../../../commons/helpers/variables.scss";

.addBook__h2 {
    text-align: center;
    font-weight: 500;
}

.addBook__form {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    width: 80%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.addBook__form__column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
    width: 45%;
}

.addBook__button__container {
    display: flex;
    flex-direction: row-reverse;
}

.addBook__button {
    padding: 5px;
    margin: 3% 10%;
    color: white;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    background: $primary-color;
    border-color: $primary-color;
    cursor: pointer;
    outline: none;
    &:hover {
        color: $secondary-color;
    }
}

.addBook__seeButton {
    text-align: center;
    padding: 5px;
    margin: 3% 10%;
    color: white;
    border-radius: 6px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    background: $secondary-color;
    border-color: $secondary-color;
    cursor: pointer;
    outline: none;
    &:hover {
        color: $primary-color;
    }
}

.addBook__buttons__flex {
    display: flex;
    flex: 0.15;
    justify-content: space-evenly;
    height: 100px;
    flex-direction: column;
}
