@import "../../../commons/helpers/variables.scss";

.productsList {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.productsList__book {
    text-align: center;
    // background-color: gray;
    padding: 5px;
    border: 1px solid gray;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 20%;
}

.productsList__book__link {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.productsList__book__img {
    margin-top: 2%;
    width: 70%;
    height: 80%;
}

.productsList__book__stars {
    width: 12px;
    margin: 2px 2px 0;
    padding: 1px;
    height: 12px;
    cursor: pointer;
}
