.searchBar__title {
    text-align: center;
}

.searchBar__subtitle {
    text-align: center;
}

.searchBar__search {
    display: flex;
    width: 60%;
    padding: 10px;
    border-radius: 10px;
    border: solid 1px black;
    background: transparent;
    text-align: center;
    margin: 10px auto;
}
