@import "../../../commons/helpers/variables.scss";

.book__container {
    margin: 20px 0;
    width: 95%;
    height: 70vh;
    display: flex;
}

.book__img__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10%;
}

.book__img {
    width: 100%;
    height: 80%;
}

.book__content__container {
    padding-left: 10px;
    flex-direction: column;
    display: flex;
    flex: 3;
}

.book__content__title {
    padding-left: 10px;
    width: 100%;
    text-align: start;
    font-size: $xlarge;
}

.book__content__description {
    padding: 10px;
    text-align: start;
    font-size: $medium;
}

.book__content__buttons {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
}

.book__content__button {
    padding: 5px 15px;
    margin: 10px;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        border-color: $secondary-color;
        background-color: $secondary-color;
        color: $primary-color;
    }
}

.book__category-year-pages {
    padding-left: 10px;
    margin: 10px 0;
}

.book__publisher {
    padding-left: 10px;
}

.book__isbn {
    padding-left: 10px;
    margin: 10px 0;
}

.book_buyButton {
    align-self: center;
    font-size: $large;
    padding: 8px 15%;
    margin: 10px 0;
    background-color: transparent;
    border: 3px solid #ccc;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: $primary-color;
        color: $secondary-color;
        border-color: $secondary-color;
    }
}
