@import "../../../../commons/helpers/variables.scss";

.inputField__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 5px 0px;
    align-items: baseline;
}

.inputField__field {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    border-radius: 5px;
    width: 50%;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: rgba(#ccc, 0.5);
    border-width: 0 0 2px;
    &:focus {
        outline: none;
        flex: 1;
        width: auto;
        border-color: $secondary-color;
    }
    &[name="description"]:focus {
        flex: 1;
        width: auto;
        padding: 30px;
    }
    &[name="description"] {
        resize: none;
    }
}
