@import "../../../../commons/helpers/variables.scss";

.relevantList__container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 10px 0px;
}

.relevantList__book {
    flex: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.relevantList__book__img {
    width: 50%;
    height: 60%;
}

.relevan__book__title {
    font-size: $large;
}
